doctype html
html(⚡ lang="en")
  head
    title= title
    script(async src='https://cdn.ampproject.org/v0.js')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    
    style
      include ../public/stylesheets/home.css
  body
    block content
